<html>
   <body>
     <ul>
	   <%  data.forEach(function(fetch) { %>  
		  <li><%= fetch.nama %></li>
		  <li><%= fetch.alamat %></li>
	   <% });%>	
	   <!-- object print-->
	    <br>
	    <li> <%= data[0]['nama']%></li>
	 </ul>
   
   
   </body>

</html>