<html>
   <body>
       <form method="post" action="proses_tambah_member">
	       <input type="text" name="nama" placeholder="nama"><br>
		   <input type="text" name="alamat" placeholder="alamat"><br>
	       <button value="submit">Simpan</button>
	   </form>
   </body>
</html>